@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.App {
  text-align: center;
  background-image: url('images/chat-image-3.jpg');
  background-size: cover;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  margin-top: 0;
}
.homepage {
  display: none;
}