@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.App {
  text-align: center;
  background-image: url('images/chat-image-3.jpg');
  background-size: cover;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  margin-top: 0;
  position: relative;
  overflow-x: hidden;
}
.chatroom {
  display: none;
  position: absolute;
}

.slideLeftOut {
  animation: slideLeftOut 1s forwards;
}

@keyframes slideLeftOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
    display: none;
  }
}

.slideLeftIn {
  display: block;
  animation: slideLeftIn 0.8s forwards;
  top: 0;
  left: 19%;
  z-index: 9;
  backdrop-filter: blur(15px);
}

@keyframes slideLeftIn {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0);
  }
}


/***/
.slideRightOut {
  display: block;
  top: 0;
  left: 19%;
  z-index: 9;
  backdrop-filter: blur(15px);
  animation: slideRightOut 1s forwards;
}

@keyframes slideRightOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(150%);
    visibility: hidden;
  }
}

.slideRightIn {
  display: block;
  animation: slideRightIn 1s forwards;
}

@keyframes slideRightIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}