.chatroom {
    max-width: 1168px;
    width: 61vw;
    margin: auto;
    padding-top: 4em;
    border-radius: 0 0 15px 15px;
}
.chatroom-header {
    width: 100%;
    height: 5em;
    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    background-clip: padding-box;
    border-radius: 15px 15px 0 0;
    display: flex;
}
.chatroom-header img {
    margin-left: 0.5em;
}
.chatroom-header p {
    font-size: 1.5rem;
    color: white;
    margin-left: 1em;
}
.chatroom-header button {
    height: 2em;
    border-radius: 5px;
    border: solid white 1px;
    background-color: transparent;
    color: white;
    font-size: 1.125rem;
    margin-right: 1em;
    margin-top: 1.2em;
    cursor: pointer;
}
.leave-room-button-container button:hover {
    border: solid white 2px;
}
.leave-room-button-container button:focus {
    outline: none;
}
.leave-room-button-container {
    margin-left: auto;
}
.chatroom-body {
    display: flex;
    height: 74vh;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: #999999;   
    border-radius: 6px;       

  }
.chatroom-users {
    width: 20%;
    background-color: rgba(151, 151, 151, 0.1);
    backdrop-filter: blur(15px);
    background-clip: padding-box;
    border-radius: 0 0 0 15px;
}
.chatroom-users-list {
    height: 68vh;
    overflow-y: scroll;
}
.chatroom-messages-container {
    width: 80%;
}
.chatroom-messages {
    /* width: 100%; */
    height: 85%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 1em;
}
#chat-icon {
    width: 60px;
}
.chatroom-users h1 {
    font-size: 1.5rem;
    color: #ff00CC;
    font-weight: bold;
    padding-bottom: 0.5em;
    border-bottom: solid #A5A5A5 1px;
    margin-bottom: 0.5em;
}
.chatroom-users p {
    font-size: 1.25rem;
    color: white;
    margin-top: 0;
    margin-bottom: 0.5em;
}
.chatroom-input {
    position: absolute;
    bottom: 2em;
    width: 64%;
}
.return-button {
    display: inline;
    float: right;
    margin-right: 2em;
    border: solid white 1px;
    border-radius: 5px;
    height: 2.9em;
    width: 5%;
    margin-top: 0.7em;
    cursor: pointer;
}
.return-button img {
    transform: rotateZ(90deg);
    width: 2em;
    position: relative;
    top: 5%;
}
.chatroom-input input {
    border: solid white 1px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    width: 100%;
    height: 2.5em;
    margin-left: 1.5em;
    color: #D4D4D4;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.125rem;
    word-wrap: break-word;
}
.chatroom-input input:focus {
    outline: none;
}
.chatroom-input input::placeholder {
    color: #D4D4D4;
}


.new-message-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.chatroom-messages p {
    color: white;
}
.user-message {
    max-width: 55%;
    min-width: 120px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(15px);
    margin-bottom: 0.5em;
    color: #000000;
    font-size: 1.125rem;
    text-align: left;
    margin-right: 1.5em;
    padding-left: 0.5em;
    word-wrap: break-word;
}
.user-message .message {
    color: black;
    font-size: 1.125rem;
}
.group-message {
    max-width: 55%;
    min-width: 120px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    margin-bottom: 0.5em;
    color: #A5A5A5;
    font-size: 1.125rem;
    text-align: left;
    margin-left: 1.5em;
    padding-left: 0.5em;
    word-wrap: break-word;
}
.group-message .message {
    color: #bdbdbd;
    font-size: 1.125rem;
}
.message-header {
    margin-bottom: 0;
    padding-top: 0.25em;
    margin-top: 0.25em;
}
.message {
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0.25em;
}
.group-message .message-header {
    color: #0080FF;
    font-size: 1.125rem;
}
.user-message .message-header {
    color: #FF00F7;
    font-size: 1.125rem;
}
.group-message .message-header span {
    color: #7E7E7E;
    font-size: 0.9rem;
}
.user-message .message-header span {
    color: #161616;
    font-size: 0.9rem;
}
@media screen and (max-width: 1366px) {
    .chatroom-header {
        height: 4em;
    }
    .chatroom-header p {
        font-size: 1.2rem;
        color: white;
        margin-left: 1em;
    }
    .chatroom-header button {
        margin-right: 1em;
        height: 1.8em;
        font-size: 1rem;
    }
    .chatroom-users h1 {
        font-size: 1.2rem;
    }
    .chatroom-messages {
        height: 82%;
    }
}